<div th:replace="~{/base}"> <!-- base.html을 상속 -->
    <div class="container my-5" th:fragment="content">
      <div class="header mb-5">
        <h1 class="text-center">게시판 추가</h1>
      </div>
      <form th:action="@{/board/create}" method="POST">
        <div class="mb-3">
          <label for="name">게시판 이름</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            maxlength="20"
            placeholder="게시판 이름 입력 (최대 20자)"
            required
          />
        </div>
        <div class="mb-3">
          <label for="description">게시판 설명</label>
          <textarea
            class="form-control"
            id="description"
            name="description"
            maxlength="200"
            placeholder="게시판 설명 입력 (최대 200자)"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">게시판 추가</button>
        <button
          type="button"
          class="btn btn-secondary"
          onclick="window.history.back();"
        >
          취소
        </button>
      </form>
    </div>
</div>
