<div th:replace="~{/base}"> <!-- base.html을 상속 -->
  <div class="container my-5" th:fragment="content">
      <!-- Flash 메시지 표시 -->
      <div th:if="${message}" class="alert alert-info alert-dismissible fade show" role="alert">
        <span th:text="${message}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <a
        class="link link-offset-1 link-offset-2-hover text-sm fs-6 mb-2 d-block"
        style="transition: all 0.1s ease-in-out"
        th:href="@{/board/boards}"
        >&larr; 게시판 목록으로 돌아가기</a
      >
      <div class="header mb-5">
        <h1 class="text-center" th:text="${board.name}">게시판 제목</h1>
        <p
          class="text-center text-secondary"
          th:text="${board.description}"
        ></p>
      </div>
      <div class="d-flex w-100 justify-content-between mb-3">
        <form>
          <div class="input-group">
            <input
              class="form-control"
              name="keyword"
              placeholder="키워드 검색"
              th:value="${keyword}"
            />
            <button class="btn btn-primary lh-1 p-0 px-2">
              <span class="material-symbols-outlined"> search </span>
            </button>
          </div>
        </form>
        <a
          th:href="@{/post/create(boardIdx=${board.idx})}"
          class="btn btn-primary"
          >게시글 추가</a
        >
      </div>
      <div class="list-group position-relative mb-3">
        <a
          class="board-item list-group-item p-3 list-group-item-action"
          th:unless="${postPage.isEmpty()}"
          th:each="post : ${postPage}"
          th:href="@{/post/{postId}(postId=${post.id})}"
        >
          <h4 class="fw-bold mb-1" th:text="${post.title}">게시글 제목</h4>
          <small class="text-secondary" th:text="${post.postDate}"
            >게시글 생성일</small
          >
        </a>
        <span
          th:if="${postPage.isEmpty()}"
          class="text-center"
          th:text="${keyword != null ? '`' + keyword + '` 키워드에 해당하는 게시글이 없습니다.' : '올라온 게시글이 없습니다.'}"
        ></span>
      </div>
      <div class="w-100 d-flex justify-content-center">
        <ul class="pagination">
          <li
            th:each="i : ${postPage.totalPages > 1 ? #numbers.sequence(0, postPage.totalPages - 1) : #numbers.sequence(0, 0)}"
            class="page-item"
            th:classappend="${i == postPage.number ? 'active' : ''}"
          >
            <a
              class="page-link"
              th:href="@{/boards/{boardIdx}(page=${i}, size=${postPage.size}, boardIdx=${board.idx}, keyword=${keyword})}"
              th:text="${i + 1}"
              >0</a
            >
          </li>
        </ul>
      </div>
    </div>
</div>
