<div th:replace="~{/base}"> <!-- base.html을 상속 -->
    <div class="container my-5" th:fragment="content">
      <div class="header mb-5">
        <h1 class="text-center">게시글 수정</h1>
      </div>
      <form
        th:action="@{/post/{postId}/edit(postId=${post.id})}"
        method="post"
      >
        <div class="mb-3">
          <label for="title">게시글 제목</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            maxlength="30"
            placeholder="게시글 제목 입력 (최대 30자)"
            required
            th:value="${post.title}"
          />
        </div>
        <div class="mb-3">
          <label for="content">내용</label>
          <textarea
            class="form-control"
            id="content"
            name="content"
            placeholder="내용 입력"
            th:text="${post.content}"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">수정</button>
        <button
          type="button"
          class="btn btn-secondary"
          onclick="window.history.back();"
        >
          취소
        </button>
      </form>
    </div>
</div>
